#header {
    text-align:center;
    text-justify: center;
}
#pass{
    display: grid;
    grid-template-areas:
    "foto text";
    grid-template-columns: 2fr 3fr;
    background: hotpink;
}
#foto {
   grid-area: foto;
}
.content {
    grid-area: text;
    justify-content: center;
}
.text {
    display: flex;
    font-size: 22px;
}

.description {
    margin-right: 15px;
}